<div class="team-2">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto text-center mb-5">
          <h3 class="display-3">Some amazing people <br/>we think you should follow!</h3>
          <p class="lead">
            People are so scared to lose that they don't even try. Like,
            one thing people can't say is that I'm not trying, and I'm not
            trying my hardest, and I'm not trying to do the best way I
            know how.
          </p>
        </div>
      </div>

      <div class="row">
        <!-- Start Card -->
          <div class="col-lg-4 col-md-6">
            <div class="card card-profile" data-background="cover">
              <img
                alt="cover"
                class="img pattern pattern-top"
                src="assets/img/ill/linth3.svg"
              />
  
              <div class="card-header">
                <div class="card-avatar">
                  <a href="javascript:;">
                    <img
                      class="img img-raised rounded-circle"
                      src="https://media-exp1.licdn.com/dms/image/C4E03AQELA19Mfg8OjA/profile-displayphoto-shrink_800_800/0/1539282783776?e=1637193600&v=beta&t=786IYQWAJ5OXv1XPYoKv_M4nnYQrpC-GIQDs3ALuUaM"
                    />
                  </a>
                </div>
              </div>
              <div class="card-body pt-0">
                <div class="text-center">
                  <h5 class="h5 mt-3">
                    Joe Karlsson
                  </h5>
                  <div class="font-weight-300">
                    <p class="display-5" style="margin-bottom: 0px;">Software Engineer/DevRel</p>
                    <p class="display-6 text-warning" style="font-size: 12px; font-weight: 600; margin-bottom: 0px;">SingleStoreDB</p>
                  </div>
                </div>
                <div
                  class="card-profile-stats d-flex text-center justify-content-center"
                >
                  <p>Joe has amazing and often hilarious advice for new'ish developers!</p>
                </div>
                <div class="text-center">
                  <button class="btn btn-twitter btn-sm" type="button">
                    <span class="btn-inner--icon">
                      <i class="fab fa-linkedin"> </i>
                      <span class="btn-inner--text"> LinkedIn </span>
                    </span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        <!-- End card -->

        <!-- Start Card -->
        <div class="col-lg-4 col-md-6">
            <div class="card card-profile" data-background="cover">
              <img
                alt="cover"
                class="img pattern pattern-top"
                src="assets/img/ill/linth3.svg"
              />
  
              <div class="card-header">
                <div class="card-avatar">
                  <a href="javascript:;">
                    <img
                      class="img img-raised rounded-circle"
                      src="https://media-exp1.licdn.com/dms/image/C4D03AQHrEtXTPQeOyw/profile-displayphoto-shrink_800_800/0/1591798332332?e=1637798400&v=beta&t=oaD7bqJdyvXK1RRIQEHRM_Ws7ITOOwwD0MtHMNOILlo"
                    />
                  </a>
                </div>
              </div>
              <div class="card-body pt-0">
                <div class="text-center">
                  <h5 class="h5 mt-3">
                    Michael Liendo
                  </h5>
                  <div class="font-weight-300">
                    <p class="display-5" style="margin-bottom: 0px;">Sr. Developer Advocate</p>
                    <p class="display-6 text-success" style="font-size: 12px; font-weight: 600; margin-bottom: 0px;">Amazon Web Services</p>
                  </div>
                </div>
                <div
                  class="card-profile-stats d-flex text-center justify-content-center"
                >
                  <p>Michael creates great content focused on Cloud using AWS.</p>
                </div>
                <div class="text-center">
                  <button class="btn btn-twitter btn-sm" type="button">
                    <span class="btn-inner--icon">
                      <i class="fab fa-linkedin"> </i>
                      <span class="btn-inner--text"> LinkedIn </span>
                    </span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        <!-- End card -->

        <!-- Start Card -->
        <div class="col-lg-4 col-md-6">
            <div class="card card-profile" data-background="cover">
              <img
                alt="cover"
                class="img pattern pattern-top"
                src="assets/img/ill/linth3.svg"
              />
  
              <div class="card-header">
                <div class="card-avatar">
                  <a href="javascript:;">
                    <img
                      class="img img-raised rounded-circle"
                      src="https://yt3.ggpht.com/ytc/AKedOLS4ILEEp2oHuU0lK2cfMOO_hZ7W6hRNBtLDlP7Ndw=s176-c-k-c0x00ffffff-no-rj"
                    />
                  </a>
                </div>
              </div>
              <div class="card-body pt-0">
                <div class="text-center">
                  <h5 class="h5 mt-3">
                    Amy Miller
                  </h5>
                  <div class="font-weight-300">
                    <p class="display-5" style="margin-bottom: 0px;">Sr. Recruiter</p>
                    <p class="display-6 text-danger" style="font-size: 12px; font-weight: 600; margin-bottom: 0px;">Amazon</p>
                  </div>
                </div>
                <div
                  class="card-profile-stats d-flex text-center justify-content-center"
                >
                  <p>Amy has a no nonsense view from a recruiter who has seen it all!</p>
                </div>
                <div class="text-center">
                  <button class="btn btn-twitter btn-sm" type="button">
                    <span class="btn-inner--icon">
                      <i class="fab fa-linkedin"> </i>
                      <span class="btn-inner--text"> LinkedIn </span>
                    </span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        <!-- End card -->
      </div>
    </div>
  </div>