<header>
<div class="page-header">
  <div
    class="page-header-image"
    style="background-image: url('assets/img/ill/p2.svg'); background-size: contain; background-repeat: no-repeat; position: absolute; background-position: 100%;"
  ></div>
  <div class="container" style="padding-top: 0px">
    <div class="row">
      <div
        class="col-lg-7 col-md-7 mr-auto text-left d-flex justify-content-center flex-column"
      >
        <h3 class="display-1 mb-0 text-left" style="font-size: 4.3rem; font-weight: 900; margin-left: -5px;">Holiday Hope</h3>
        <h6 class="display-6 text-success" style="margin-top: -15px; padding-top: 0px;">Presented by Aftercamp</h6>
        <p class="lead mt-0">
          A collection of <b>Developer</b> job postings over the 
          <br/>2021 Holiday Season. Tailored to those new to the field.
        </p>
        <br />

        <div class="buttons">
          <a class="btn btn-danger" href="javascript:;"> Awesome! </a>
        </div>
      </div>
    </div>
  </div>
</div>
</header>