<div
      class="section features-3 my-5"
      style="background-image: url('assets/img/ill/p31.svg'); background-size: 100%; background-repeat: no-repeat;"
    >
      <div class="container">
        <div class="row text-center justify-content-center">
          <div class="col-lg-8">
            <h3 class="display-3 text-white">
              What is this site?<span class="text-success">
                Why did we build it?
              </span>
            </h3>
            <p class="lead text-white">
              This year, in an
              effort to support the new developer community that we love, we wanted to create a 
              list of roles we have found that we think new web developers should apply to.
            </p>
            <p class="lead text-white">
              Additionally, we wanted to provide a list of people to follow in the industry that can
              help you get to where you want to go.
            </p>
          </div>
        </div>
        <!-- <div class="row" style="margin-top: 5em;">
          <div class="col-lg-4 col-md-6">
            <div class="card card-project">
              <a href="javascript:;">
                <div
                  class="icon icon-lg icon-shape icon-shape-primary shadow rounded-circle mx-auto"
                >
                  <i class="ni ni-favourite-28"> </i>
                </div>
              </a>
              <div class="card-body">
                <h4 class="card-title mt-3">Slack bot</h4>
                <p class="card-description">
                  If everything I did failed - which it doesn't, it actually
                  succeeds - just the fact that I'm willing to fail is an
                  inspiration. People are so scared to lose that they don't
                  even try.
                </p>
                <div class="card-footer">
                  <button class="btn btn-link text-primary" type="button">
                    <i class="ni ni-glasses-2"> </i> Check more
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="card card-project">
              <a href="javascript:;">
                <div
                  class="icon icon-lg icon-shape icon-shape-success shadow rounded-circle mx-auto"
                >
                  <i class="ni ni-books"> </i>
                </div>
              </a>
              <div class="card-body">
                <h4 class="card-title mt-3">Looking great</h4>
                <p class="card-description">
                  You have the opportunity to play this game of life you
                  need to appreciate every moment. A lot of people don't
                  appreciate the moment until it's motivating the doers.
                </p>
                <div class="card-footer">
                  <button class="btn btn-link text-success" type="button">
                    <i class="ni ni-key-25"> </i> Find a opportunity
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="card card-project">
              <a href="javascript:;">
                <div
                  class="icon icon-lg icon-shape icon-shape-warning shadow rounded-circle mx-auto"
                >
                  <i class="ni ni-trophy"> </i>
                </div>
              </a>
              <div class="card-body">
                <h4 class="card-title mt-3">Developer First</h4>
                <p class="card-description">
                  For standing out. But the time is now to be okay to be the
                  greatest you. Would you believe in what you believe in, if
                  you were the only one who believed it?
                </p>
                <div class="card-footer">
                  <button class="btn btn-link text-warning" type="button">
                    <i class="ni ni-notification-70"> </i> Check more
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div> -->
      </div>
    </div>