<footer class="footer footer-big bg-gradient-default">
  <div class="container">
    <div class="content">
      <h5 class="text-center mb-5" style="color: white; margin-bottom: 1rem !important;">Presented by:</h5>
      <div class="row mb-5">
        
        <div class="column mx-auto">
          <img
            alt=""
            class="logo logo-sm"
            src="assets/img/brand/aftercamp.png"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-md-2 col-6">
          <div class="column">
            <h4 class="mb-4">About Us</h4>
            <ul class="links-vertical">
              <li><a href="javascript:;"> Our mission </a></li>
              <li><a href="javascript:;"> Media Kit </a></li>
              <li><a href="javascript:;"> Contact </a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-2 col-6">
          <div class="column">
            <h4 class="mb-4">Social</h4>
            <ul class="links-vertical">
              <li><a href="javascript:;"> Community </a></li>
              <li><a href="javascript:;"> Dribbble </a></li>
              <li><a href="javascript:;"> Twitter </a></li>
              <li><a href="javascript:;"> Facebook </a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-8">
          <div class="column">
            <h4 class="mb-4">Newsletter</h4>
            <ul class="links-vertical">
              <p>
                We handpicked the most interesting content for you.
                No spam. It takes one click to unsubscribe. Give it
                a try!
              </p>
            </ul>
            <form action="" class="form form-newsletter" method="">
              <div class="form-group">
                <input
                  class="form-control"
                  placeholder="Your Email"
                  type="email"
                />
              </div>
              <button
                class="btn btn-primary"
                name="button"
                type="button"
              >
                Subscribe
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <hr class="bg-white opacity-3" />
  </div>
</footer>